DISCORD_BOT_TOKEN=
GUILD_ID=
WELCOME_CHANNEL_ID=
ACCESS_REQUEST_CHANNEL_ID=
GUEST_ROLE_ID=
HIGHEST_ROLE_ID=
LOWEST_ROLE_ID=
LANG=en-US
MOD_ROLE_ID=
PROTECTED_ROLE_ID=
MOD_PASSWORDS={"<discordUserId>":"password"}
MOD_LOG_CHANNEL_ID=
MOD_ALERT_USER_ID=